/********************************************** Variables *****************************************/
/*********************************************************************************************************/

//************ Theme ************//
$primary-light: #e0f2c1;
$primary-medium: #a3c6a6;

// TEST pour accessibilité
// $primary-dark: blue;
// $primary-dark: #71916d;
// $primary-dark: #597256;
// $primary-medium: #518056;
$primary-dark: #669466;
// $primary-darker: #669466;
// $secondary-light: #FDFDFC;

// les couleurs d'origine
// $primary-dark: #82A57D;
$primary-darker: #1e8571;

$secondary-light: #f5f1e5;
$secondary-medium: #e0cb9de6;
$secondary: #c5b185;

//************ fonts families ************//
$font-family-title: "Montserrat", sans-serif;
$font-family-subTitle: "teko", sans-serif;
$font-family-text: "roboto", sans-serif;

//************ fonts sizes ************//
//****** Mobile ******//
// $mobile-text-S: 0.875rem; //14px
// $mobile-text-M: 1.3rem;
// $mobile-text-L: 1.4rem;

// $mobile-title-S: 1rem; //16px
// $mobile-title-M: 1.3rem; //20.8px
// $mobile-title-L: 1.4rem; //22.4px

//****** Tablet ******//
// $tablet-text-S: 0.875rem; //14px
// $tablet-text-M: 1rem; //16px
// $tablet-text-L: 1.125rem; //18px

// $tablet-title-S: 1.25rem; //20px
// $tablet-title-M: 1.5rem; //24px
// $tablet-title-L: 1.625rem; //26px

//****** Desktop ******//
// $desktop-text-S: 0.875rem; //14px
// $desktop-text-M: 1rem; //16px
// $desktop-text-L: 1.125rem; //18px

// $desktop-title-S: 1.5rem; //24px
// $desktop-title-M: 1.625rem; //26px
// $desktop-title-L: 1.875rem; //30px