.notFound {
    &__container {
        @extend %flex-columnCentered;
        height: 100vh;
        gap: 139px;
        background-color: $secondary-light;

        @media screen and (max-width: 768px) {
            gap: 113px;
        }
    }

    &__title {
        margin-top: 139px;
        font-size: 18rem;
        font-weight: 700;
        color: $primary-dark;

        text-align: center;

        @media screen and (max-width: 768px) {
            font-size: 6rem;
        }
    }

    &__txt {
        font-size: 2.25rem;
        color: $primary-dark;

        @media screen and (max-width: 768px) {
            // font-size: $font-size-main;
            text-align: center;
        }
    }

    &__link {
        margin-bottom: 139px;

        font-size: 2.25rem;

        text-decoration: underline;

        @media screen and (max-width: 768px) {
            font-size: 0.875rem;
        }
    }
}