// /************************ WhyMeContainer ************************/
.whyMe {
    @extend %flex-columnCentered;
    gap: 24px;
    padding: 0 10px;

    @media (min-width: 768px) {
        padding: unset;
    }


    &__title {
        @extend %flex-column;
        gap: 7px;
        text-align: center;
        line-height: 1.2;
        max-width: 550px;

        @media (min-width: 768px) {
            max-width: 600px;
        }

        & span {
            color: $primary-dark;
            font-weight: 800;
        }
    }


    &__container {
        position: relative;
    }

    &__wrapper {
        @extend %flex-row;
        gap: 20px;
        width: 330px;
        height: 250px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        border-radius: 14px;

        @media (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-column-gap: 9.25%;
            grid-row-gap: 50px;
            width: 100%;
            max-width: 940px;
            height: 100%;
            overflow-x: unset;
            scroll-snap-type: unset;
        }
    }

    &__card {
        @extend %flex-column;
        gap: 40px;
        position: relative;
        padding: 35px 30px;
        flex-shrink: 0;
        width: 330px;
        height: 250px;
        background-color: $primary-medium;
        border: 3px solid $primary-dark;
        border-radius: 14px;
        text-align: center;
        scroll-snap-align: center;

        @media (min-width: 768px) {
            width: 100%;
        }

        &-icon {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.2;
            width: 100%;
            height: 100%;
            z-index: 1;
            color: $primary-dark;
        }

        &-title {
            font-family: $font-family-title;
            font-size: 1.375rem;
            font-weight: 800;
            min-height: 41px;
            color: #ebdeb5;

            @media (min-width: 768px) {
                font-size: 1.5rem;
            }

            @media (min-width: 1025px) {
                font-size: 1.625rem;
            }
        }

        &-text {
            color: $secondary-light;
            opacity: 1;
            line-height: 1.3;
        }

        & h3,
        & p {
            position: relative;
            z-index: 2;
        }
    }

    &__chevron {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        background-color: $secondary-light;
        border-radius: 50%;
        border: 3px solid $primary-dark;
        cursor: pointer;
        display: none;
        z-index: 3;

        &-left {
            left: -17px;
        }

        &-right {
            right: -17px;
        }

        &-visible {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @media (min-width: 768px) {
            display: none;
        }
    }
}

.bulletPoints {
    @extend %flex-rowCentered;
    margin-top: 10px;

    @media (min-width: 768px) {
        display: none;
    }

    &__singlePoint {
        width: 10px;
        height: 10px;
        background-color: #ccc;
        border-radius: 50%;
        margin: 0 5px;

        &-active {
            background-color: $primary-dark;
        }
    }
}