/************************ ProjectLinks  ************************/
.projectLinks {
    @extend %flex-rowCentered;
    gap: 15px;
    margin-top: 20px;

    @media (min-width: 1025px) {
        justify-content: flex-start;
        ;
    }

    &__repo,
    &__demo {
        @extend %flex-rowCentered;
        gap: 13px;
        padding: 6px 20px;
        border-radius: 15px;
        background-color: rgba($secondary-medium, 0.9);

        // #19
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

        transition: transform 0.1s ease-in-out;

        &:hover {
            transform: scale(1.1);
            background-color: rgba($secondary-medium, 1);
        }

    }

    &__title {
        font-weight: 500;
    }

    &__disabled {
        color: black;
        opacity: 0.5;
        pointer-events: none;
    }
}